<div id="clearance" class="sign-in">

<div class="container col-sm-10 col-md-5">

<div class="card border-light">
	<div class="card-header">
    	<h2><%= t(".title") %></h2>
	</div>
	<div class="card-body">
		<%= render partial: '/sessions/form' %>		
	</div>
	
</div> <!-- End of card div -->

</div> <!-- End of container div -->

</div> <!-- End of clearance div -->
