<h1>Listings#new</h1>
<p>Find me in app/views/listings/new.html.erb</p>

  <%= form_with model: @listing, local: true do |form| %>
    <%= render partial: '/listings/form', object: form %>

    <div class="submit-field">
      <%= form.submit "Create new listing" %>
    </div>

  <% end %>