<h1>Welcome to PairBnb</h1>
<h3>Plan your getaway today</h3>

<%if signed_in?%>
	<%= link_to t(".sign_out"), sign_out_path, :class => "nav-link", method: :delete, :class => "btn btn-outline-danger"%>
<%else%>
	<%= link_to 'Register for a new account', sign_up_path, :class => "btn btn-info"  %>
	<%= link_to 'Sign in with Google', "/auth/google_oauth2", :class => "btn btn-danger" %>
<%end%>

