<div class="check-in-field form-group row">
  <%= form.label :"Check in time", :class => "col-sm-4 col-form-label col-form-label-sm" %>
  <%= form.date_field :check_in, :class => "col-sm-8 form-control form-control-sm"%>
</div>

<div class="check-in-field form-group row">
  <%= form.label :"Check out time", :class => "col-sm-4 col-form-label col-form-label-sm" %>
  <%= form.date_field :check_out, :class => "col-sm-8 form-control form-control-sm"%>
</div>